doctype html
html
  head
    title= 'Chain Vote'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fontstack.css')
    link(rel='stylesheet', href='/stylesheets/button.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="icon" type="image/png" href='/images/logo.png')
    script(src="https://code.jquery.com/jquery-3.0.0.min.js")
  body
    block content