
#table {
  width: 80%;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 50px auto 0px auto;
  border-radius: 15px;
  padding: 10px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  height: 56px;
}

.button {
    width: 25%;
    height: auto;
    display: inline-block;
    margin: 2px;
}
#request-header {
    margin-bottom: 10px;
}

.request {
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
  margin-top: 10px;
  margin-bottom: 10px;
}

.vote-amount {
  width: 40px;
  height: 30px;

  padding: 5px;

  border-radius: 0px;
  border: none;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

  background-color: #F7F7F7;

  font-size: 24px;
}

.approve {
  background-color: #00C26A;
  color: #F7F7F7;
}

.decline {
  background-color: #C20900;
  color: #F7F7F7;
}
